.address-add {
    height: 100%;
    background-color: #fff;
    .address-form {
        padding: 0 px2rem(28);
    }
    .form-item {
        display: flex;
        align-items: center;
        height: px2rem(100);
    //padding 0 px2rem(28)
        border-bottom: 1px solid #e4e4e4;
        .icon-right {
            color: #bfbfbf;
            margin-left: auto;
        }
        .label {
            width: px2rem(128);
            font-size: px2rem(30);
        }
        .input {
            flex-basis: px2rem(600);
            margin-right: px2rem(10);
            font-size: px2rem(30);
            border: none;
            outline: none;
        }
        .radio {
            margin-right: px2rem(72);
        }
    }
    .btn {
        margin-top: px2rem(52);
    }
}
