@import "var";

.main-cart-list {
    .item {
        height: 110px;
        padding: 16px;
        margin-bottom: 8px;
        background-color: #fff;
        border-bottom: 1px solid $line;
    }
    .link {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/static/img/card-bg.png");
        border-radius: 4px;
        color: #fff;
    }
    .header {
        height: 100%;
        display: flex;
        padding: 20px;
    }
    .goods-img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        flex: none;
        margin-right: 5px;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        height: 100%;
    }
}

.cart-calculate-box {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 100%;
    height: 80px;
    background-color: #999;
    .pay {
        width: 80px;
    }
}

.cart-list-wrap {
    width: 100%;
    margin-bottom: px2rem(104);
    background: #fff;
    .mask {
        opacity: 1;
    }
    .cart-list {
        position: absolute;
        bottom: px2rem(104);
        width: 100%;
        background: #fff;
        transform: translate(0, 0);
    }
    .cart-list-hd {
        padding: 16px px2rem(28);
        background: #f8f8f8;
        span {
            display: inline-block;
            font-size: 13px;
            vertical-align: middle;
            &:before {
                content: "";
                float: left;
                width: 2px;
                height: 12px;
                margin: 0 2px 0 0;
                background: $primary;
            }
        }
        button {
            @extends .reset-btn;
            float: right;
            font-size: 13px;
            i {
                float: left;
                font-size: 14px;
                color: #999;
                margin: -1px 0 0;
            }
        }
    }
    .cart-list-item {
        padding: 15px px2rem(28);
        span {
            font-size: 15px;
        }
        .counter-container,
        .actual,
        .amount {
            float: right;
        }
        .counter-container {
            width: px2rem(142);
            margin-top: -3px;
        }
        .actual {
            margin-right: 10px;
            color: $red;
        }
        .amount {
            margin: 2px 5px 0 0;
            font-size: 13px;
            color: #999;
            text-decoration: line-through;
        }
    }
}

.cartListBounce-enter,
.cartListBounce-leave-to {
    .mask {
        opacity: 0;
    }
    .cart-list {
        transform: translate(0, 100%);
    }
}
.cartListBounce-enter-active,
.cartListBounce-leave-active {
    .mask,
    .cart-list {
        transition: all .3s;
    }
}
