.all-order-page
    display flex
    flex-direction column
    height 100%
    background-color #e4e4e4
    .load-finish
        height px2rem(86)
        color #666
        font-size px2rem(26)
        text-align center
        line-height px2rem(86)

.tab-content
    position absolute
    left 0
    top px2rem(88)
    width 100%
    bottom 0
//height px2rem(600)
//flex-basis 1
    flex-grow 1

.order-list-box, .order-empty
    height 100%

//height px2rem(600)
//flex-basis 1
//flex-grow 1




.simple-order-food-list
    padding-top px2rem(30)
    padding-left px2rem(46)
    .food-item
        display flex
    .food-name
        flex auto
        margin-bottom px2rem(30)
        color #666
        text-align left
    .food-num
        color #666
        margin-left auto

.order-empty
    padding-top px2rem(406)
    text-align center
    background-color #fff
    .iconfont
        display inline-block
        margin-bottom px2rem(32)
        color #e4e4e4
        font-size px2rem(100)
    .text
        color #999
        font-size px2rem(32)