body {
    font-size: px2rem(28);
    background-color: #ebebeb
}
.btn {
    color: #fff;
    background-color: $primary;
    border: none;
}
.btn-block {
    display: block;
    width: 100%;
    height: px2rem(78);
    line-height: px2rem(78);
    border-radius: px2rem(39);
}
.btn-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: px2rem(92);
    line-height: px2rem(92);
    color: #fff;
    text-align: center;
    font-size: px2rem(34);
    background-color: $primary;
    border: none;
    &.disabled {
        background-color: #9d9d9d;
    }
}
.btn-primary {
    display: inline-block;
    height: px2rem(60);
    padding: 0 px2rem(38);
    color: #fff;
    line-height: px2rem(60);
    background-color: $primary;
    border: none;
    border-radius: px2rem(30);
}
.btn-primary-line {
    display: inline-block;
    height: px2rem(60);
    padding: 0 px2rem(38);
    color: $primary;
    line-height: px2rem(60);
    background-color: #fff;
    border: 1px solid $primary;
    border-radius: px2rem(30);
}
